@model SmartDrivingMVC.Models.Evaluation
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resulte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resulte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookingLog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingLog.Customer.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EvaluationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
