@model IEnumerable<SmartDrivingMVC.Models.Evaluation>
@{
    ViewData["Title"] = "Index";
}
<div class="container container-booking">
    <h2>Index</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resulte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingLog)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resulte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingLog.BookingLogId)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EvaluationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EvaluationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EvaluationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>