@using Microsoft.AspNetCore.Identity
@model IEnumerable<SmartDrivingMVC.Models.BookingLog>
@inject UserManager<IdentityUser> UserManager




@{
    ViewData["Title"] = "Index";
}

<div class="container container-booking">



    @if (await UserManager.IsInRoleAsync(UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result, "admin"))
    {
        <div class="jumbotron">
            <h1 class="display-4">Create Booking</h1>
            <p class="lead">Please click the bellow button to create Bookings</p>
            <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
        </div>
    }

    @if (!await UserManager.IsInRoleAsync(UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result, "admin"))
    {
        <h3>Available bookings:</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityType)
                    </th>
                    @if (await UserManager.IsInRoleAsync(UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result, "admin"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Customer)
                        </th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityType.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityType.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityType.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityType.Vehicle.VehicleModel)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.AvailableBookings as List<BookingLog>)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Staff.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.Title)
                    </td>
                    @if (await UserManager.IsInRoleAsync(UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result, "admin"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.FirstName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.Vehicle.VehicleModel)
                    </td>
                    @*<td>
            @foreach (var activityType in item.ActivityType)
            {
                @Html.DisplayFor(modelItem => activityType.StartDate)
                @Html.DisplayFor(modelItem => activityType.Title)

            }
        </td>*@
                    <td>
                        <a asp-action="Select" class="btn btn-primary" asp-route-id="@item.BookingLogId">Select</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    }
    <h2>Bookings:</h2>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Staff)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityType.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityType.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityType.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityType.Vehicle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.Vehicle.VehicleModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>

                @if (await UserManager.IsInRoleAsync(UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result, "admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BookingLogId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BookingLogId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BookingLogId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="UnAssign" asp-route-id="@item.BookingLogId">CancelBooking</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>